/* INDEX STYLE SHEET */
/* SELECTOR —> PROPERTY —> VALUE */
body {
  text-align: center;
  height: 100%;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  padding: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  background-color: beige;
  font-family: 'Merriweather', serif;
}

.bodywrap {
  margin-right: 40px;
  margin-left: 40px;
}

h1 {
  color: red;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-style: italic;
  text-align: center;
  font-family: 'Inconsolata', monospace;'
  font-weight: 400;
  font-size: 1em;
}

h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Merriweather', serif;
}

ul {
  display: block;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

li {
  display: block;
  padding: 0.2%;
}

.listsubtitles {
  font-style: italic;
}

ol {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}

.button {
  display: inline-block;
  text-align: center;
  font-style: italic;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;

}

.button img {
  padding-bottom: 3px;
}

#ContentWrapper {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 3%;
  padding-bottom: 0.5%;
}
