/* My favourite things Styling */
/* SELECTOR —> PROPERTY —> VALUE */
body {
  text-align: center;
  width: 80%;
  padding-left: 9.5%;
  background-color: beige;
  font-family: Roboto, sans-serif;
}
h1 {
  color: red;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-style: italic;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}

.listsubtitles {
  font-style: italic;
  text-decoration: underline;
}

ol {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}
